body {
    font-size: 50px;
    background-image: url(img/LOGO\ UNISSULA.png);
    height: 2000px;
    background-repeat: no-repeat; 
    /* background-attachment: fixed; */
    background-attachment: scroll;

}

.channa {
    color: aqua;
}

